.contacts {
  padding-top: 86px;
  padding-bottom: 113px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
    padding-top: 119px;
    padding-bottom: 158px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 132px;
    padding-bottom: 165px;
  }
}
.contacts__bgimg {
  background-image: url('../images/contacts/contacts-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 1200px) {
    background-size: 1260px;
    background-position-y: 100px;
  }
}

.contacts__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.contacts__box {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 220px;
  padding: 43px 20px;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 20px;
}
.contacts__box {
  &:not(:last-child) {
    // @media screen and (max-width: 480px) {
    //   // margin-bottom: 20px;
    // }
    // @media screen and (min-width: 480px) {
    // }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 80px) / 3);
    margin-bottom: 0;
    padding: 50px 31px;
    margin: 0px 10px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 330px;
    flex-basis: calc((100% - 120px) / 3);
    margin: 0px 15px;
    padding: 51px 45px;
  }
}

.contacts__box__list {
  margin: 0 auto;
  justify-content: center;
  @media screen and (min-width: 480px) {
    width: 220px;
    margin-bottom: 54px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 54px;
  }
  @media screen and (min-width: 768px) {
    width: 772px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-bottom: 86px;
  }
}

.contacts__name {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.contacts__name__box {
  background: #f0d1a5;
  border-radius: 6px;
  width: 73px;
  margin-bottom: 32px;
  &-current {
    background: #c2e297;
    border-radius: 6px;
    width: 138px;
    margin-bottom: 32px;
  }
}
.contacts__city {
  font-size: 12px;
  line-height: 1.8;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }
}
.contacts__about {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }
}
.contacts__item:not(:last-child) {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.working__item:not(:last-child) {
  margin-bottom: 10px;
}
.working__date {
  font-size: 12px;
  line-height: 186%;
  font-weight: 500;

  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }
}

.working__time {
  font-size: 12px;
  line-height: 1.8;
  font-weight: 500;

  color: #ffa5ba;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }
}
.contacts__link {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: #907e82;
  text-decoration: none;
  display: flex;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }
}

.contacts__button__box {
  width: 170px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 420px;
  }
}

.contacts__button {
  position: relative;
  // padding-right: 30px;
  @media screen and (max-width: 480px) {
    padding: 10px 20px;
    width: 170px;
  }
  @media screen and (min-width: 480px) {
    padding: 10px 22px;
    width: 170px;
  }
  @media screen and (min-width: 768px) {
    padding: 10px 30px;

    width: 181px;
  }
  @media screen and (min-width: 1200px) {
    width: 191px;
  }
}

.contacts__button:not(:last-child) {
  margin-bottom: 10px;
  margin-right: 15px;
}
.contacts__icon {
  position: absolute;
  top: 39%;
  right: 15px;
  width: 12px;
  height: 12px;
  fill: #d41443;
  &-current {
    position: absolute;
    top: 39%;
    right: 8px;
    width: 12px;
    height: 12px;
    fill: currentColor;
  }
}
