.products__tittle-text{
    padding-top: 121px;
    padding-bottom: 141px;
}
.products__pre-tittle{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 15px;
}
.products__tittle{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.products__list{
    margin-bottom: 98px;
}
.products__list-item{
    min-height: 485px;
    border-radius: 24px;
    padding-top: 161px;
    &:not(:last-child){
        margin-bottom: 130px;
    }
}
.products__list-tittle{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: 22px;
    margin-bottom: 30px;
}
.product-one-tittle{
    &::before{
    content: "";
    position: absolute;
    left: 36px;
    top: 224px;
    width: 249px;
    height: 252px;
    background-image: url(../images/320/products-img-1-320.png);
    background-size: 249px 252px;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    &{
    background-image: url(../images/320-2x/products-img-1-320-2x.png);
        }
    }
    @media screen and (min-width: 480px){
        left: 120px;
    }
}
    &::after{
        content: "...";
    position: absolute;
    width: 26px;
    height: 6px;
    left: 147px;
    top: 551px;
    @media screen and (min-width: 480px){
        left: 226px;
    }
    }
}
.product-two-tittle{
    &::before{
    content: "";
    position: absolute;
    left: 36px;
    top: 839px;
    width: 249px;
    height: 252px;
    background-image: url(../images/320/products-img-2-320.png);
    background-size: 249px 252px;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    &{
        background-image: url(../images/320-2x/products-img-2-320-2x.png);
        }
    }
    @media screen and (min-width: 480px){
        left: 120px;
    }
}
    &::after{
        content: "...";
    position: absolute;
    width: 26px;
    height: 6px;
    left: 147px;
    top: 1166px;
    @media screen and (min-width: 480px){
        left: 226px;
    }
    }
}
.product-three-tittle{
    &::before{
    content: "";
    position: absolute;
    left: 36px;
    top: 1453px;
    width: 249px;
    height: 252px;
    background-image: url(../images/320/products-img-3-320.png);
    background-size: 249px 252px;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    &{
    background-image: url(../images/320-2x/products-img-3-320-2x.png);
        }
    }
    @media screen and (min-width: 480px){
        left: 120px;
    }
}
    &::after{
        content: "...";
    position: absolute;
    width: 26px;
    height: 6px;
    left: 147px;
    top: 1780px;
    @media screen and (min-width: 480px){
        left: 226px;
    }
    }
}
.products__list-text{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
    margin-top: 66px;
    margin-bottom: 30px;
    margin-left: 41px;
    margin-right: 39px;
    }
.product-one{
    background: #FFB8CA;
}
.product-two{
    background: #F0D1A5;
}
.product-three{
    background: #C2E297;
}
.products__btn{
    display: block;
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
}