@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #907e82;
  --title-text-color: #d41443;
  --second-title-color: #ffa5ba;
  --accent-color: #d41443;
  --hover-color: #c7133e;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.footer {
  padding-bottom: 25px;
  background: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 10px;
  }
}

.footer__text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__text {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.footer__subject {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__subject {
    margin-bottom: 0px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subject {
    font-size: 58px;
  }
}

.footer-contacts {
  text-align: right;
  font-size: 12px;
  line-height: 1.86;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    font-size: 14px;
  }
}

.footer-contacts__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  color: var(--second-text-color);
}

.footer-contacts__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  color: var(--accent-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 46px;
}

.social-list__item + .social-list__item {
  margin-left: 30px;
}

.social-list__icon {
  fill: var(--second-title-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--accent-color);
}

.container-titel {
  width: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container-titel {
    width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .container-titel {
    width: 474px;
  }
}

.info-copyright {
  width: 150px;
  margin: auto;
  padding-top: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--third-text-color);
}

@media screen and (min-width: 768px) {
  .info-copyright {
    width: 100%;
    padding-top: 29px;
  }
}

@media screen and (min-width: 1200px) {
  .info-copyright {
    padding-top: 9px;
  }
}

.container-info-copyright {
  border-top: 1px solid #e1e1e1;
  width: 100%;
}

.box {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    margin-bottom: 97px;
  }
}
/*# sourceMappingURL=main.css.map */