@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #907e82;
  --title-text-color: #d41443;
  --second-title-color: #ffa5ba;
  --accent-color: #d41443;
  --hover-color: #c7133e;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.about {
  padding-top: 125px;
  padding-bottom: 39px;
  height: 999px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .about {
    height: 786px;
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    height: 850px;
    padding-top: 125px;
    padding-bottom: 39px;
  }
}

.about__main-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.about__title {
  margin-bottom: 26px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.47;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .about__card {
    height: 339px;
    width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .about__card {
    height: 516px;
    width: 516px;
  }
}

.about__thumb {
  margin-top: 46px;
  padding-left: 50px;
  padding-right: 50px;
}

.about__text {
  margin-bottom: 47px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--second-text-color);
}

.about__excerpt {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--third-text-color);
}

.slogan {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--third-text-color);
}

.about__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d41443;
}

.milk-container {
  margin-bottom: 45px;
  height: 400px;
  width: 100%;
  background-image: url(../images/320/about-img-2-320.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milk-container {
    background-image: url(../images/320-2x/about-img-2-320-2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .milk-container {
    background-size: 1200px;
    background-image: url(../images/1200/about-img-2-1200.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .milk-container {
    background-image: url(../images/1200-2x/about-img-2-1200-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .milk-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__btn {
  margin: 0 auto;
  margin-top: 45px;
  padding-top: 7px;
  padding-right: 56px;
  padding-bottom: 7px;
  padding-left: 37px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 22px;
  color: var(--accent-color);
  background-color: var(--main-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

@media screen and (min-width: 768px) {
  .about__btn {
    display: inline;
  }
}

.about__btn:hover,
.about__btn :focus {
  background-color: #ecebeb;
}
/*# sourceMappingURL=main.css.map */