<section class="about">
  <div class="container">    
    <span for="about__title" class="about__main-title">tradition and love</span>
    <h2 class="about__title" id="about__title">how it’s made?</h2>
    <div class="about__wrapper">
      <div class="about__card">
        <picture>
          <source
            srcset="
              ./images/1200/about-img-1-1200.png       1x,
              ./images/1200-2x/about-img-1-1200-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/768/about-img-1-768.png 1x, ./images/768-2x/about-img-1-768-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/320/about-img-1-320.png 1x, ./images/320-2x/about-img-1-320-2x.png 2x"
            media="(min-width:320px)"
          />
          <img class="about__photo" src="./images/320/about-img-1-320.png" alt="cow" />
        </picture>
      </div>
      <div class="about__holder">
        <div class="about__thumb">
          <p class="about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__excerpt">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about__slogan">Aliquam erat volutpat. Aenean accumsan.</p>
          <button data-modal-open type="button" class="about__btn">
            Read more
            <svg class="about__icon">
              <use href="./images/icons.svg#icon-btn-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Модалка -->
<div class="about__backdrop is-hidden" data-modal>
  <div class="about__modal">
    <button data-modal-close class="about__modal-close">
      <svg class="modal__icon">
        <use href="./images/icons.svg#icon-close-about"></use>
      </svg>
    </button>
    <form class="about__form">
      <h2 class="about__form-tittle">
        Best milk in the world for our <br />
        Ice Cream
      </h2>
      <div class="about__text-block">
        <p class="about__form-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum necessitatibus porro maxime blanditiis nihil architecto quisquam magni cupiditate voluptas voluptatibus, veniam aut earum et inventore harum pariatur quae reprehenderit vitae?
          Cumque nisi esse fuga consectetur veniam placeat quidem! Debitis repellat, tempora doloribus architecto placeat tempore vitae dolore asperiores fugit, dignissimos qui molestias. Ullam ex numquam eos veniam aspernatur, iste consectetur.
          Omnis reiciendis odio, molestias excepturi nemo natus repellendus? Eum quis dicta reprehenderit ea dolorem optio quasi, voluptates mollitia recusandae facere illo blanditiis in expedita, aspernatur explicabo impedit illum corporis eius.
          
        </p>
      </div>
      <div class="about__form-field">
        <label for="email">Email</label>
        <input class="form__input" type="email" name="mail" id="email" autocomplete="on" />
        <svg class="about__form-icon">
          <use href="./images/icons.svg#icon-email"></use>
        </svg>
      </div>      
      </label>
      <button class="about__submit-button button--color-inversion" type="submit">Send Email</button>
    </form>
  </div>
</div>