<section class="about">
  <div class="about__container">
    <label for="about__title" class="about__main-title">tradition and love</label>
    <h2 class="about__title" id="about__title">how it’s made?</h2>
    <div class="about__wrapper">
      <div class="about__card">
        <picture>
          <source
            srcset="
              ./images/1200/about-img-1-1200.png       1x,
              ./images/1200-2x/about-img-1-1200-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/768/about-img-1-768.png 1x, ./images/768-2x/about-img-1-768-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/320/about-img-1-320.png 1x, ./images/320-2x/about-img-1-320-2x.png 2x"
            media="(min-width:320px)"
          />
          <img class="about__photo" src="./images/320/about-img-1-320.png" alt="cow" />
        </picture>
      </div>
      <div class="about__holder">
        <div class="about__thumb">
          <p class="about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__excerpt">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about__slogan">Aliquam erat volutpat. Aenean accumsan.</p>
          <button data-modal-open type="button" class="about__btn">
            Read more
            <svg class="about__icon">
              <use href="./images/icons.svg#icon-btn-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Модалка -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close class="modal__close">
      <svg class="modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="about-form">
      <h2 class="form__tittle">
        Best milk in the world for our <br />
        Ice Cream
      </h2>
      <div class="form__field">
        <p class="form__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad corrupti quisquam quis
          consectetur animi! Sapiente deserunt accusantium ea, eligendi quod a quis nobis atque quae
          sed deleniti illo optio ut! Voluptas nobis perferendis, quibusdam dolores ipsum doloribus
          magni unde velit commodi nisi culpa quasi, ipsa est eius vitae autem? Deserunt
          necessitatibus eum nobis repudiandae nam eos totam ipsum. Minima, facilis? Officia
          doloremque non natus, nisi numquam omnis! Odio ab esse neque, iste quia ipsam voluptatibus
          ad perspiciatis omnis. Ab magni doloribus sed quibusdam fugiat asperiores minus atque
          sequi velit? Laudantium. Distinctio, quo? Dolorem voluptatum inventore dolorum, rem
          voluptatibus facere nulla facilis neque quibusdam est modi, tenetur, iste veritatis quis
          quae officia? Perferendis dolores quidem officiis. Natus perspiciatis pariatur consectetur
          fugit!
        </p>
      </div>
      <div class="form__field">
        <label for="email">Email</label>
        <input class="form__input" type="email" name="mail" id="email" autocomplete="on" />
        <svg class="form__icon">
          <use href="./images/icons.svg#icon-email"></use>
        </svg>
      </div>      
      </label>
      <button class="submit-button button--color-inversion" type="submit">Send Email</button>
    </form>
  </div>
</div>
