<section class="about">
  <div class="container">
    <label for="about__title" class="about__main-title">tradition and love</label>
    <h3 class="about__title" id="about__title">how it’s made?</h3>
    <div class="milk-container">
      <div class="test2">
        <div class="about__card">
          <picture>
            <source
              srcset="
                ./images/1200/about-img-1-1200.png       1x,
                ./images/1200-2x/about-img-1-1200-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/768/about-img-1-768.png       1x,
                ./images/768-2x/about-img-1-768-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/320/about-img-1-320.png       1x,
                ./images/320-2x/about-img-1-320-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img class="about__photo" src="./images/320/about-img-1-320.png" alt="cow" />
          </picture>
        </div>
      </div>
      <div class="about__thumb">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__excerpt">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="slogan">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__btn">Read more</button>
      </div>
    </div>
  </div>
</section>
