<section class="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item">
        <div class="advantages-list__icon-box">
          <h3 class="advantages__title">721</h3>
          <p class="advantages__after-title">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__icon-box2">
          <h3 class="advantages__title">16kg</h3>
          <p class="advantages__after-title">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__icon-box3">
          <h3 class="advantages__title">84</h3>
          <p class="advantages__after-title">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
