<section class="contacts">
  <div class="contacts__bgimg">
    <div class="contacts__container">
      <h1 id="contact" class="contacts__title">Contacts</h1>
      <ul class="contacts__box__list list">
        <li class="contacts__box">
          <div class="contacts__name__box">
            <span class="contacts__name">cafe</span>
          </div>
          <ul class="contacts__list list">
            <li class="contacts__item">
              <h2 class="contacts__city">Chicago</h2>
              <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts__item">
              <ul class="working list">
                <li class="working__item">
                  <p class="working__date">Monday - Friday</p>
                  <p class="working__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working__item">
                  <p class="working__date">Saturday - Sunday</p>
                  <p class="working__time">08:00 AM - 10:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__item">
              <a href="mailto:info@devstudio.com" class="contacts__link">noreply@envato.com</a>
              <a href="tel:+380961111111" class="contacts__link"> +61(0) 383 766 284 </a>
            </li>
          </ul>
        </li>
        <li class="contacts__box">
          <div class="contacts__name__box-current">
            <span class="contacts__name">FOOD TRUCK</span>
          </div>
          <ul class="contacts__list list">
            <li class="contacts__item">
              <h2 class="contacts__city">Los Angeles</h2>
              <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts__item">
              <ul class="working list">
                <li class="working__item">
                  <p class="working__date">Monday - Friday</p>
                  <p class="working__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working__item">
                  <p class="working__date">Saturday - Sunday</p>
                  <p class="working__time">08:00 AM - 10:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__item">
              <a href="mailto:info@devstudio.com" class="contacts__link">noreply@envato.com</a>
              <a href="tel:+380961111111" class="contacts__link"> +61(0) 383 766 284 </a>
            </li>
          </ul>
        </li>
        <li class="contacts__box">
          <div class="contacts__name__box">
            <span class="contacts__name">cafe</span>
          </div>
          <ul class="contacts__list list">
            <li class="contacts__item">
              <h2 class="contacts__city">New York</h2>
              <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts__item">
              <ul class="working list">
                <li class="working__item">
                  <p class="working__date">Monday - Friday</p>
                  <p class="working__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working__item">
                  <p class="working__date">Saturday - Sunday</p>
                  <p class="working__time">08:00 AM - 10:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__item">
              <a href="mailto:info@devstudio.com" class="contacts__link">noreply@envato.com</a>
              <a href="tel:+380961111111" class="contacts__link"> +61(0) 383 766 284 </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__button__box">
        <button type="button" class="contacts__button button--color-inversion">
          Our Locations
          <svg class="contacts__icon contacts__icon-current">
            <use href="./images/icons.svg#icon-btn-arrow-1"></use>
          </svg>
        </button>

        <button type="button" class="contacts__button contacts__button-current">
          Franchise
          <svg class="contacts__icon">
            <use href="./images/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
