<section class="contacts">
  <div class="contacts__bgimg">
    <div class="contacts__container container">
      <h1 id="contact" class="contacts__title">Contacts</h1>
      <ul class="contacts__box__list list">
        <li class="contacts__box">
          <div class="contacts__name__box">
            <span class="contacts__name">cafe</span>
          </div>
          <ul class="contacts__list list">
            <li class="contacts__item">
              <h2 class="contacts__city">Chicago</h2>
              <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts__item">
              <ul class="working list">
                <li class="working__item">
                  <p class="working__date">Monday - Friday</p>
                  <p class="working__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working__item">
                  <p class="working__date">Saturday - Sunday</p>
                  <p class="working__time">08:00 AM - 10:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__item">
              <a href="mailto:info@devstudio.com" class="contacts__link">noreply@envato.com</a>
              <a href="tel:+380961111111" class="contacts__link"> +61(0) 383 766 284 </a>
            </li>
          </ul>
        </li>
        <li class="contacts__box">
          <div class="contacts__name__box-current">
            <span class="contacts__name">FOOD TRUCK</span>
          </div>
          <ul class="contacts__list list">
            <li class="contacts__item">
              <h2 class="contacts__city">Los Angeles</h2>
              <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts__item">
              <ul class="working list">
                <li class="working__item">
                  <p class="working__date">Monday - Friday</p>
                  <p class="working__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working__item">
                  <p class="working__date">Saturday - Sunday</p>
                  <p class="working__time">08:00 AM - 10:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__item">
              <a href="mailto:info@devstudio.com" class="contacts__link">noreply@envato.com</a>
              <a href="tel:+380961111111" class="contacts__link"> +61(0) 383 766 284 </a>
            </li>
          </ul>
        </li>
        <li class="contacts__box">
          <div class="contacts__name__box">
            <span class="contacts__name">cafe</span>
          </div>
          <ul class="contacts__list list">
            <li class="contacts__item">
              <h2 class="contacts__city">New York</h2>
              <p class="contacts__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contacts__item">
              <ul class="working list">
                <li class="working__item">
                  <p class="working__date">Monday - Friday</p>
                  <p class="working__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="working__item">
                  <p class="working__date">Saturday - Sunday</p>
                  <p class="working__time">08:00 AM - 10:00 PM</p>
                </li>
              </ul>
            </li>
            <li class="contacts__item">
              <a href="mailto:info@devstudio.com" class="contacts__link">noreply@envato.com</a>
              <a href="tel:+380961111111" class="contacts__link"> +61(0) 383 766 284 </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__button__box">
        <button type="button" class="contacts__button button--color-inversion">
          <div class="map-responsive">
            <a
              href="https://www.google.com.ua/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.6971494,-74.2598661,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728"
              target="blank"
              rel="noopener noreferrer"
              class="contacts__button button--color-inversion"
              >Our Locations
              <svg class="contacts__icon contacts__icon-current" width="10" height="10">
                <use href="./images/icons.svg#icon-btn-arrow-1"></use>
              </svg>
            </a>
          </div>
        </button>

        <button type="button" class="contacts__button contacts__button-current js-open-modal">
          Franchise
          <svg class="contacts__icon">
            <use href="./images/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="backdrop__contacts is-hidden js-modal-container">
    <div class="modal__contacts">
      <button type="button" class="modal-close__button js-close-modal">
        <svg class="modal-close__icon" width="18" height="18">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal__title">Leave your contacts, we will call you back</p>
      <form action="#" class="modal__form">
        <div class="modal__field">
          <label for="name">Name</label>
          <div class="modal__input-wrap">
            <input type="text" name="user-name" id="name" class="modal__input" />
            <svg class="modal-contacts__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-person-black"></use>
            </svg>
          </div>
        </div>

        <div class="modal__field">
          <label for="tel">Phone</label>
          <div class="modal__input-wrap">
            <input type="tel" name="user-tel" id="tel" class="modal__input" />
            <svg class="modal-contacts__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-email-black"></use>
            </svg>
          </div>
        </div>

        <div class="modal__field">
          <label for="email">Mail</label>
          <div class="modal__input-wrap">
            <input type="email" name="user-email" id="email" class="modal__input" />
            <svg class="modal-contacts__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-phone-black"></use>
            </svg>
          </div>
        </div>

        <div class="modal__field">
          <label for="comment" class="modal__text">Comment</label>
          <textarea
            name="comment"
            id="comment"
            class="modal__comment"
            placeholder="Type text"
          ></textarea>
        </div>

        <div class="policy-box">
          <input
            type="checkbox"
            name="policy"
            id="policy"
            class="policy-box__check visually-hidden"
          />
          <label for="policy" class="policy-box__text"
            ><span class="policy-box__item">
              <svg class="policy-box__icon" width="11" height="8">
                <use href="./images/icons.svg#icon-check"></use>
              </svg>
            </span>
            I agree to the conditions of the&nbsp;<span class="policy-condition">
              <a href="" class="policy-box__link" target="blank"> Contract</a></span
            ></label
          >
        </div>
        <button type="submit" class="button modal-send__button">Send</button>
      </form>
    </div>
  </div>
</section>
