<section class="customer-riviews">
  <div class="container">
    <h2 class="visually-hidden">Отзывы клиентов</h2>
    <div class="slider">
      <div class="slider__item">
        <img
          class="slider__img"
          src="./images/customer-riviews/customer-riviews1.jpg"
          width="85"
          alt="Темнокожая женщина"
        />
        <div class="slider-text-wrap">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__text slider__text--name">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <img
          class="slider__img"
          src="./images/customer-riviews/customer-riviews2.jpg"
          width="85"
          alt="Темнокожая женщина"
        />
        <div class="slider-text-wrap">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__text slider__text--name">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <img
          class="slider__img"
          src="./images/customer-riviews/customer-riviews3.jpg"
          width="85"
          alt="Темнокожая женщина"
        />
        <div class="slider-text-wrap">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="slider__text slider__text--name">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
