<footer class="footer">
  <div class="container box">
    <div class="container-titel">
      <samp class="footer__text">homemade ice cream made</samp>
      <samp class="footer__subject">with passion</samp>
    </div>
    <div>
      <ul class="social-list list">
        <!-- github -->
        <li class="social-list__item">
          <a href="https://github.com/" class="social-list__link">
            <svg class="social-list__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <!-- telegram -->
        <li class="social-list__item">
          <a href="https://telegram.org/" class="social-list__link">
            <svg class="social-list__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <!-- facebook -->
        <li class="social-list__item">
          <a href="https://www.facebook.com/" class="social-list__link">
            <svg class="social-list__icon" width="34" height="34">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-contacts">
        <p class="footer-contacts__text">
          Feel free to contact
          <samp
            ><a class="footer-contacts__link link" href="tel:+610383766284"
              >+61 (0) 383 766 284</a
            ></samp
          >
        </p>
      </address>
    </div>
  </div>
  <div class="container-info-copyright">
    <p class="info-copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
