<section class="gallery">
<div class="container">
<picture>
    <source srcset="
                                            ./images/gallery/ice-dec.jpg 1x,
                                            ./images/gallery/ice-dec-2x.jpg 2x
                                          " media="(min-width: 1200px)" />
    <source srcset="
                                            ./images/gallery/ice-tab.jpg 1x,
                                            ./images/gallery/ice-tab-2x.jpg 2x
                                          " media="(min-width: 768px)" />
    <source srcset="
                                            ./images/gallery/ice-mob.jpg 1x,
                                            ./images/gallery/ice-mob-2x.jpg 2x
                                          " media="(min-width: 320px)" />
    <img src="./images/gallery/ice-dec.jpg" alt="icecream gallery" width="" class="ice-img"/>
</picture>
</div>
</section>