<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item gallery__img-box">
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic1.png 1x, ./images/gallery/collage/pic1@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic1.png" alt="" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__img-box">
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic2.png 1x, ./images/gallery/collage/pic2@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic2.png" alt="" />
          </picture>
        </div>
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic3.png 1x, ./images/gallery/collage/pic3@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic3.png" alt="" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__img-box">
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic4.png 1x, ./images/gallery/collage/pic4@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic4.png" alt="" />
          </picture>
        </div>
        <div class="individual-unit gallery__item_max-width">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic5.png 1x, ./images/gallery/collage/pic5@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic5.png" alt="" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__img-box">
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic6.png 1x, ./images/gallery/collage/pic6@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic6.png" alt="" />
          </picture>
        </div>
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic7.png 1x, ./images/gallery/collage/pic7@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic7.png" alt="" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__img-box gallery__img-box--up">
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic8.png 1x, ./images/gallery/collage/pic8@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic8.png" alt="" />
          </picture>
        </div>
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="./images/gallery/collage/pic9.png 1x, ./images/gallery/collage/pic9@2x.png 2x"
            />
            <img src="./images/gallery/collage/pic9.png" alt="" />
          </picture>
        </div>
      </li>
      <li class="gallery__item gallery__img-box">
        <div class="individual-unit">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/collage/pic99.png    1x,
                ./images/gallery/collage/pic99@2x.png 2x
              "
            />
            <img src="./images/gallery/collage/pic99.png" alt="" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
