<header class="page-header" id="home">
  <div class="page-header__box container">
    <a href="./index.html" class="page-header__logo">
      <img src="./images/1200/logo.png" alt=""
    /></a>
    <nav class="page-header__nav">
      <ul class="site-nav-list list">
        <li class="site-nav-list__item">
          <a href="#home" class="site-nav-list__link site-nav-list__link--red link scrollto"
            >Home</a
          >
        </li>
        <li class="site-nav-list__item">
          <a href="#made" class="site-nav-list__link link scrollto">About us</a>
        </li>
        <li class="site-nav-list__item">
          <a href="#about__title" class="site-nav-list__link link scrollto">How it’s made?</a>
        </li>
        <li class="site-nav-list__item">
          <a href="#products" class="site-nav-list__link link scrollto">Our products</a>
        </li>
        <li class="site-nav-list__item">
          <a href="#contact" class="site-nav-list__link link scrollto">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="button-menu button-menu--open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="button-menu__icon">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button type="button" class="page-header-button page-header-button--none">
      Buy now
      <svg class="page-header-button__icon" width="4px" height="8px">
        <use href="./images/icons.svg#icon-vector"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu__container">
      <button class="button-menu button-menu--close js-close-menu">
        <svg class="button-menu__icon" width="" height="">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <button type="button" class="page-header-button mobile-menu__button">
        Buy now
        <svg class="page-header-button__icon" width="4px" height="8px">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </button>

      <ul class="menu-nav list">
        <li class="menu-nav__item">
          <a href="#home" class="menu-nav__link link scrollto">Home</a>
        </li>
        <li class="menu-nav__item">
          <a href="#made" class="menu-nav__link link scrollto">About us</a>
        </li>
        <li class="menu-nav__item">
          <a href="#about__title" class="menu-nav__link link scrollto">How it’s made?</a>
        </li>
        <li class="menu-nav__item">
          <a href="#products" class="menu-nav__link link scrollto">Our products</a>
        </li>
        <li class="menu-nav__item">
          <a href="#contact" class="menu-nav__link link scrollto">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<section class="hero">
  <div class="container continer-overley">
    <h1 class="hero__title">
      <span
        >ice cream <br />
        made with <br /></span
      ><span class="hero__title--red">passion</span>
    </h1>

    <ul class="hero-link-list list">
      <li class="hero-link-list__item">
        <a href="#products" class="hero-link-list__link link scrollto">Products</a>
      </li>
      <li class="hero-link-list__item">
        <a
          href="#about__title"
          class="hero-link-list__link hero-link-list__link--white link scrollto"
          >How it’s made?</a
        >
      </li>
    </ul>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, <br />
      consectetur adipiscing elit, <br />
      sed do eiusmod tempor <br />
      incididunt ut labore et
    </p>
    <a href="" class="hero__link-description">
      <svg width="4px" height="8px">
        <use href="./images/icons.svg#icon-vector"></use>
      </svg>
    </a>
    <ul class="secondary-content-list list">
      <li class="secndary-content-list__item">
        <span class="secndary-content-list__text">16 <br /></span
        ><span class="secndary-content-list__text secndary-content-list__text--white">cafes</span>
      </li>
      <li class="secndary-content-list__item">
        <span class="secndary-content-list__text">23 <br /></span
        ><span class="secndary-content-list__text secndary-content-list__text--white"
          >food trucks</span
        >
      </li>
    </ul>
  </div>
</section>
