<header class="page-header">
  <div class="page-header__box container">
    <a href="./index.html" class="page-header__logo"><img src="./images/1200/logo.png" alt="" /></a>
    <nav class="page-header__nav">
      <ul class="site-nav-list list">
        <li class="site-nav-list__item"><a href="" class="site-nav-list__link link">Home</a></li>
        <li class="site-nav-list__item">
          <a href="" class="site-nav-list__link link">About us</a>
        </li>
        <li class="site-nav-list__item">
          <a href="" class="site-nav-list__link link">How it’s made?</a>
        </li>
        <li class="site-nav-list__item">
          <a href="" class="site-nav-list__link link">Our products</a>
        </li>
        <li class="site-nav-list__item">
          <a href="" class="site-nav-list__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="button-menu"></button>
    <button class="page-header__button">Buy now</button>
  </div>
</header>

<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      <span
        >ice cream <br />
        made with <br /></span
      ><span class="hero__title--red">passion</span>
    </h1>
    <ul class="hero-list list">
      <li class="hero-list__item"><a href="" class="hero-list__link link">Products</a></li>
      <li class="hero-list__item">
        <a href="" class="hero-list__link hero-list__link--white link">How it’s made?</a>
      </li>
    </ul>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, <br />
      consectetur adipiscing elit, <br />
      sed do eiusmod tempor <br />
      incididunt ut labore et
    </p>
  </div>
</section>
