<section class="products">
    <div class="container">
        <div class="products__tittle-text">
        <p class="products__pre-tittle">100% natural</p>
        <h2 class="products__tittle">products</h2>
        </div>
        <ul class="products__list list">
            <li class="products__list-item product-one">
                <h3 class="products__list-tittle product-one-tittle">ice cream</h3>
                <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="products__btn">
                    <img 
                    srcset="./images/320/products-btn.png 1x,
                    ./images/320-2x/products-btn-2x.png 2x"
                    src="./images/320/products-btn.png" alt="Стрелка направлена на право">
                </button>
            </li>
            <li class="products__list-item product-two">
                <h3 class="products__list-tittle product-two-tittle">ice coffee</h3>
                <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="products__btn">
                    <img
                    srcset="./images/320/products-btn.png 1x,
                    ./images/320-2x/products-btn-2x.png 2x"
                    src="./images/320/products-btn.png" alt="Стрелка направлена на право">
                </button>
            </li>
            <li class="products__list-item product-three">
                <h3 class="products__list-tittle product-three-tittle">milkshakes</h3>
                <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button type="button" class="products__btn">
                    <img 
                    srcset="./images/320/products-btn.png 1x,
                    ./images/320-2x/products-btn-2x.png 2x"
                    src="./images/320/products-btn.png" alt="Стрелка направлена на право">
                </button>
            </li>
        </ul>
    </div>
</section>