<section class="products">
    <div class="container">
        <div class="products__tittle-text">
        <p class="products__pre-tittle">100% natural</p>
        <h2 class="products__tittle">products</h2>
        </div>
        <ul class="products__list list">
            <li class="products__list-item ice-cream">
                <h3 class="products__list-tittle">ice cream</h3>
                <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </li>
            <li class="products__list-item ice-coffee">
                <h3 class="products__list-tittle">ice coffee</h3>
                <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </li>
            <li class="products__list-item milkshakes">
                <h3 class="products__list-tittle">milkshakes</h3>
                <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </li>
        </ul>
        <button type="button" class="products__btn"></button>
    </div>
</section>