/* ----------------------------------------------modal------------------------------------ */
.about__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 35, 52, 0.473);

  opacity: 1;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

//
.about__backdrop.is-hidden {
  & .modal {
    transform: translate(-50%, -50%) scale(1.3);
  }
}
//

.about__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    padding: 40px;
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 768px) {
    width: 528px;
    height: 581px;
  }
}

.about__modal-close {
  cursor: pointer;
  position: fixed;
  top: 12px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: flex-end;
  outline: none;
  z-index: 10;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  &:hover,
  &:focus {
    border: 1px solid red;
    fill: red;
  }
}

.modal__icon {
  display: flex;
  position: fixed;
  top: 17px;
  right: 19px;
  width: 20px;
  height: 20px;
  fill: var(--main-text-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
